manifest.nextflowVersion = '!>=24.10.2'
params {
    primer_check = true
    primer_check_pcr = null
    primer_check_ngs_dir = null
    primer_check_source = null
    primer_check_container = 'ghcr.io/rasmuskoriis/primer-checker:latest'
    test_manifest = null
    test_fasta = null
    test_virus = 'SARS-CoV-2'
    outdir = 'results'
}
process {
    executor = 'local'
    cpus = 1
    memory = '512 MB'
    withName: PRIMER_CHECK {
        errorStrategy = 'ignore'
        cache = false
        publishDir = [path: { "${params.outdir}/primer_check" }, mode: 'copy', overwrite: true]
    }
}
docker.enabled = false
singularity.enabled = false
conda.enabled = false
